html, body, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-container { /*所有图片公有的背景*/
    width: 100%;
    height: 100%;
    background: url("../img/BG.jpg") no-repeat;
    background-size: cover;
}

.swiper-slide { /*每一个滑动页面*/
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/*第一页样式*/


.slide1 img {
    opacity: 0;
}

.slide1 .inf {
    height: 3rem;
    line-height: 3rem;
    width: 5rem;
    font-size: .6rem;
    color: darkcyan;
    position: absolute;
    right: 0.35rem;
    top: 2.4rem;
    text-align: center;
    background: url("../img/bg1-3.gif") no-repeat 2rem;
    display: none;
}
.slide1 .inf p{
    display: block;
    height: .7rem;
    line-height: 0.7rem;
}
.slide1 .inf span {
    display: block;
    font-size: .38rem;
}

.slide1 img:nth-of-type(1) {
    width: 5rem;
    height: 7rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.slide1 img:nth-of-type(2) {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}

.slide1 img:nth-of-type(3) {
    width: 6rem;
    height: 8rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.slide1 img:nth-of-type(4) {
    width: 100%;
    height: 82%;
    position: absolute;
    left: 0.3rem;
    top: 0;
}

.slide1 img:nth-of-type(5) {
    width: 2.1rem;
    height: 2.2rem;
    position: absolute;
    right: 2.85rem;
    bottom: 17%;
}

.slide1 img:nth-of-type(6) {
    width: 2.1rem;
    height: 2.2rem;
    position: absolute;
    right: 2.55rem;
    bottom: 2.1rem;
}


.slide2 img {
    position: absolute;
    opacity: 0;
}

.slide2 img:nth-of-type(1) {
    top: 0;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
    -webkit-animation: move1 3s linear infinite;
    animation: move1 3s linear infinite;
}

.slide2 img:nth-of-type(2) {
    width: .78rem;
    height: .78rem;
    left: 0.63rem;
    top: 0.406rem;
    -webkit-animation: move2 3s linear infinite;
    animation: move2 3s linear infinite;
}

.slide2 img:nth-of-type(3) {
    width: 100%;
    height: 80%;
    left: 0;
    top: 10%;
}

.slide2 .title1 {
    display: none;
    position: absolute;
    top: 7%;
    left: 30%;

}
/*//小标题的圆和内容*/
.slide2 .title1 .round {
    float: left;
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin-top: 0.16rem;
    border-radius: 50%;
    background: #669933;
}

.slide2 .title1 .content {
    display: inline-block;
    float: left;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.4rem;
    width: 2.5rem;
    border-radius: 0.16rem;
    border: 0.16rem solid #669933;

}

.slide2 .content1 {
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 0.32rem;
    height: 3rem;
    line-height: 0.68rem;
    display: none;
}

.slide2 .content2 {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 0.3rem;
    display: none;
}
.slide2 .content2 span{
    display: inline-block;
    height: 0.85rem;
    line-height: 0.7rem;

}
.slide2 .content2 span:nth-child(1) {
    background: url("../img/tel.png") no-repeat 0 0;
    background-size: 0.7rem 0.7rem;
    padding-left: 0.8rem;
}

.slide2 .content2 span:nth-child(2) {
    background: url("../img/qq (2).png") no-repeat 0 0;
    background-size: 0.7rem 0.7rem;
    padding-left: 0.8rem;
    position: absolute;
    top:30%;
    left:-15%;
}

.slide2 .content2 span:nth-child(3) {
    background: url("../img/email.jpg") no-repeat 0 0;
    background-size: 0.7rem 0.7rem;
    padding-left: 0.8rem;
    position: absolute;
    top:60%;
    left:-35%;

}






.slide3 .title1 {
    display: inline-block;
    position: absolute;
    top: 7%;
    left: 38%;
}
/*//小标题的圆和内容*/
.slide3 .title1 .round {
    float: left;
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin-top: 0.16rem;
    border-radius: 50%;
    background: #ffcc66;
}

.slide3 .title1 .content {
    display: inline-block;
    float: left;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.4rem;
    width: 2.5rem;
    border-radius: 0.16rem;
    border: 0.16rem solid #ffcc66;

}
.slide3 img {
    position: absolute;
}

.slide3 img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide3 img:nth-of-type(2) {
    width: 1rem;
    height: 1rem;
    top: -10%;
    left: 55%;
    -webkit-animation: move3 6s linear infinite both;
    animation: move3 6s linear infinite both;
}

.slide3 img:nth-of-type(3) {
    width: 1rem;
    height: 1rem;
    top: -10%;
    left: 82%;
    -webkit-animation: move3 6s 2s linear infinite both;
    animation: move3 6s 2s linear infinite both;
}

.slide3 img:nth-of-type(4) {
    width: 1rem;
    height: 1rem;
    top: -10%;
    left: 65%;
    -webkit-animation: move3 6s 4s linear infinite both;
    animation: move3 6s 4s linear infinite both;
}

.slide3 .warp{
    position: absolute;
    left: 52%;
    width: 2.2rem;
    height: 2.2rem;
    -webkit-animation: move4 4s linear infinite;
    animation: move4 4s linear infinite;
}
.slide3 .inner{
    position: absolute;
    left: -0.1rem;
    top: -0.1rem;
    width: 2.2rem;
    height: 2.2rem;
    border: 0.08rem solid #cc9999;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    /*
    transform-origin:initial;
    animation: move4 3s linear infinite;*/
}
.slide3 span{
    opacity:0;
    position: absolute;
    left: 52%;
    display: block;
    width: 2rem;
    height: 1rem;
    font-size: 0.3rem;
    margin-top: 0.55rem;
    margin-left: 0.25rem;
}
.slide3 .warp1,.slide3 span:nth-of-type(1){
    top:22%;
}
.slide3 .warp2,.slide3 span:nth-of-type(2){
    top:43%;
}
.slide3 .warp3,.slide3 span:nth-of-type(3){
    top:63%;
}


.slide4 img {
    position: absolute;
    opacity: 0;
}

.slide4 img:nth-of-type(1) {
    width: 80%;
    height: 100%;
    left: 20%
}

.slide4 img:nth-of-type(2) {
    width: 40%;
    height: 33%;
    top: 1%;
    left: 23%;
}

.slide4 img:nth-of-type(3) {
    width: 40%;
    height: 33%;
    top: -1%;
    left: 59%;
}

.slide4 img:nth-of-type(4) {
    width: 40%;
    height: 33%;
    top: 34%;
    left: 23%;
}

.slide4 img:nth-of-type(5) {
    width: 40%;
    height: 33%;
    top: 33%;
    left: 59%;
}

.slide4 img:nth-of-type(6) {
    width: 40%;
    height: 33%;
    top: 67%;
    left: 23%;
}

.slide4 img:nth-of-type(7) {
    width: 40%;
    height: 33%;
    top: 65%;
    left: 59%;
}

.slide4 img:nth-of-type(8) {
    top: 0;
    left: -2%;
    width: 30%;
    height: 100%;
    opacity: 1;
}
/*//小标题的圆和内容*/
.slide4 .title1 {
    position: absolute;
    top: 30%;
    left: 5%;
    width:1.12rem;
    text-align: center;
}
.slide4 .title1 .round {
    float: left;
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin-top: 0.16rem;
    border-radius: 50%;
    background: #6699ff;
}

.slide4 .title1 .content {
    display: block;
    float: left;
    height: 2.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.4rem;
    width: 0.6rem;
    border-radius: 0.16rem;
    border: 0.16rem solid #6699ff;

}
.slide4 .title1 .content p{
    opacity: 1;
    padding-top: 0.25rem;
}

.slide4 span{
    text-align: center;
    display: inline-block;
    width: 28%;
    height: 33%;
    font-size: 0.33rem;
    color: black;
    position: absolute;
    opacity:0;
}
.slide4 span:nth-of-type(1){
    left: 25%;
    top:10%;
}
.slide4 span:nth-of-type(2){
    left: 65%;
    top:10%;
}
.slide4 span:nth-of-type(3){
    left: 25%;
    top:43%;
}
.slide4 span:nth-of-type(4){
    left: 65%;
    top:43%;
}
.slide4 span:nth-of-type(5){
    left: 25%;
    top:76%;
}
.slide4 span:nth-of-type(6){
    left: 65%;
    top:76%;
}

.slide5 img {
    position: absolute;
}

.slide5 img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slide5 img:nth-of-type(2) {
    width: 1.5rem;
    height:1.5rem;
    right:7%;
    bottom: 27%;
}

.slide5 img:nth-of-type(3) {
    width:1rem;
    height: 0.6rem;
    right:36%;
    bottom: 31%;
    -webkit-animation: move5 1s linear infinite;
    animation: move5 1s linear infinite;
}
.slide5 span{
    display: none;
    position: absolute;
    left: 1rem;
    top:0.8rem;
    height: 40%;
    width: 60%;
    font-size: .35rem;
    line-height: 0.7rem;
    text-align: center;
    border: 0.1rem solid white;
    transform: rotate(10deg);
    border-radius: 0.25rem;
    padding: 0.2rem;
}


#page1 img {
    opacity: 1;
}
#page1 .inf {
    display: inline-block;
    -webkit-animation: bounceInDown 1s 0.5s both;
    animation: bounceInDown 1s 0.5s both;
}

#page1 span {
    display: inline-block;
}

#page1 img:nth-of-type(1) {
    -webkit-animation: bounceInDown 1s 0.1s both;
    animation: bounceInDown 1s 0.1s both;
}

#page1 img:nth-of-type(2) {
    -webkit-animation: bounceInDown 1s 0.1s both;
    animation: bounceInDown 1s 0.1s both;
}

#page1 img:nth-of-type(3) {
    -webkit-animation: bounceInRight 1s 0.5s both;
    animation: bounceInRight 1s 0.5s both;
}

#page1 img:nth-of-type(4) {
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}

#page1 img:nth-of-type(5) {
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}

#page1 span {
    -webkit-animation: fadeIn 1s 2s both;
    animation: fadeIn 1s 2s both;
}
#page2 img{
    opacity: 1;
}
#page2 img:nth-of-type(3) {
    -webkit-animation: fadeInLeft 1s 0.1s both;
    animation: fadeInLeft 1s 0.1s both;
}
#page2  .title1{
    display: inline-block;
    -webkit-animation: bounceInDown 1s 0.5s both;
    animation: bounceInDown 1s 0.5s both;
}
#page2  .content2,#page2  .content1{
    display: block;
    -webkit-animation: rollIn 1s 1s both;
    animation: rollIn 1s 1s both;
}
#page3 img{
    opacity: 0.6;
}
#page3 img:nth-of-type(1){
    opacity: 0.3;
    -webkit-animation: bounceInLeft 1s 0.1s  both;
    animation: bounceInLeft 1s 0.1s  both;
}
#page3 img:nth-of-type(2){
    -webkit-animation: bounceInUp 1s 2.2s both;
    animation: bounceInUp 1s 2.2s both;
}
#page3 img:nth-of-type(3){
    -webkit-animation: bounceInUp 1s 1.8s both;
    animation: bounceInUp 1s 1.8s both;
}
#page3 img:nth-of-type(4){
    -webkit-animation: bounceInUp 1s 1.4s both;
    animation: bounceInUp 1s 1.4s both;
}
#page3 img:nth-of-type(5){
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}
#page3 img:nth-of-type(6){
    -webkit-animation: bounceInUp 1s 0.6s both;
    animation: bounceInUp 1s 0.6s both;
}
#page3 img:nth-of-type(7){
    -webkit-animation: bounceInUp 1s 0.2s both;
    animation: bounceInUp 1s 0.2s both;
}
#page3 span{
    opacity:1;
}
#page3 span:nth-of-type(1){
    -webkit-animation: bounceInUp 1s 2.2s  both;
    animation: bounceInUp 1s 2.2s  both;
}
#page3 span:nth-of-type(2){
    -webkit-animation: bounceInUp 1s 1.8s both;
    animation: bounceInUp 1s 1.8s both;
}
#page3 span:nth-of-type(3){
    -webkit-animation: bounceInUp 1s 1.4s both;
    animation: bounceInUp 1s 1.4s both;
}
#page3 span:nth-of-type(4){
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}
#page3 span:nth-of-type(5){
    -webkit-animation: bounceInUp 1s 0.6s both;
    animation: bounceInUp 1s 0.6s both;
}
#page3 span:nth-of-type(6){
    -webkit-animation: bounceInUp 1s 0.2s both;
    animation: bounceInUp 1s 0.2s both;
}
#page4 img:nth-of-type(1){
    opacity: 1;
    -webkit-animation: bounceInLeft 1s 0.2s both;
    animation: bounceInLeft 1s 0.2s both;
}
#page4 span{
    opacity: 1;
    -webkit-animation: bounceInRight 1s 0.3s both;
    animation: bounceInRight 1s 0.3s both;
}

#page5 span{
    display: block;
    -webkit-animation: rollIn 1s 0.3s both;
    animation: rollIn 1s 0.3s both;
}
@keyframes move {
    100% {
        -webkit-transform: translate(0, 12rem);
        transform: translate(0, 12rem)
    }
}
@-webkit-keyframes move1 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes move1 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-webkit-keyframes move2 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}
@keyframes move2 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}
@-webkit-keyframes move3 {
    100% {
        -webkit-transform: translate(0, 12rem) rotate(360deg);
        transform: translate(0, 12rem) rotate(360deg)
    }
}
@keyframes move3 {
    100% {
        -webkit-transform: translate(0, 12rem) rotate(360deg);
        transform: translate(0, 12rem) rotate(360deg)
    }
}

@-webkit-keyframes move4 {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}
@keyframes move4 {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}
@-webkit-keyframes move5 {
    50% {
        -webkit-transform: translate(0.5rem);
        transform: translate(0.5rem);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes move5 {
    50% {
        -webkit-transform: translate(0.5rem);
        transform: translate(0.5rem);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}














