html, body, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-container {/*/三张图片公有的背景*/
    width: 100%;
    height: 100%;
    background: url("../img/BG.jpg") no-repeat ;
    background-size: cover;
    /*
    transform-style: preserve-3d;
    perspective: 2000px;
    */
}
.swiper-slide {/*每一个滑动页面*/
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100;
}
/*第一页样式*/
.slide1 img{
    opacity: 0;
}
.slide1 .inf{
    font-size: .4rem;
    color: darkcyan;
    position: absolute;
    right: 0.6rem;
    top:2.3rem;
    text-align: center;
}
.slide1 .inf span{
    display: none;
    height: .7rem;
    line-height: 0.7rem;
}
.slide1 img:nth-of-type(1) {
    width: 5rem;
    height: 7rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.slide1 img:nth-of-type(2) {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
.slide1 img:nth-of-type(3) {
    width: 6rem;
    height: 8rem;
    position: absolute;
    right: 0;
    bottom:0;
}
.slide1 img:nth-of-type(4) {
    width: 100%;
    height: 82%;
    position: absolute;
    left: 0.6rem;
    top: 0;
}
.slide1 img:nth-of-type(5) {
    width: 2.1rem;
    height: 2.2rem;
    position: absolute;
    right: 2.55rem;
    bottom:2.1rem;
}
.swiper-slide ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:50;
}
.slide1 ul li{
    width: 0.1rem;
    height: 0.1rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    z-index:30;
    animation: move 3s  linear infinite ;
}
ul li:nth-of-type(1){
    top: 5%;
    left: 10%;
}
ul li:nth-of-type(8){
    top:20%;
    left:20%;
}
ul li:nth-of-type(3){
    top: 38%;
    left:30%;
}
ul li:nth-of-type(6){
    top:32%;
    left:40%;
}
ul li:nth-of-type(5){
     top:50%;
     left:50%;
 }
ul li:nth-of-type(4){
      top:68%;
      left:60%;
  }
ul li:nth-of-type(7){
    top:61%;
    left:70%;
}
ul li:nth-of-type(2){
    top:80%;
    left:80%;
}
ul li:nth-of-type(9){
    top:82%;
    left:90%;
}
ul li:nth-of-type(10){
    top: 10%;
    left: 90%;
}
ul li:nth-of-type(11){
    top:31%;
    left:80%;
}
ul li:nth-of-type(12){
    top: 26%;
    left:70%;
}
ul li:nth-of-type(13){
    top:40%;
    left:60%;
}
ul li:nth-of-type(14){
    top:71%;
    left:40%;
}
ul li:nth-of-type(15){
    top:61%;
    left:30%;
}
ul li:nth-of-type(16){
    top:80%;
    left:20%;
}
ul li:nth-of-type(17){
    top:81%;
    left:90%;
}
ul li:nth-of-type(18){
    top:90%;
    left:21%;
}
ul li:nth-of-type(19){
    top:69%;
    left:20%;
}
ul li:nth-of-type(20){
    top:62%;
    left:82%;
}
ul li:nth-of-type(21){
    top:55%;
    left:21%;
}
ul li:nth-of-type(22){
    top:40%;
    left:89%;
}
ul li:nth-of-type(23){
     top:31%;
     left:22%;
 }
ul li:nth-of-type(24){
      top:22%;
      left:91%;
  }
ul li:nth-of-type(25){
    top:4%;
    left:21%;
}
ul li:nth-of-type(26){
    top:48%;
    left:8%;
}
ul li:nth-of-type(27){
    top:8%;
    left:15%;
}
ul li:nth-of-type(28){
    top:10%;
    left:32%;
}
ul li:nth-of-type(29){
    top:7%;
    left:41%;
}
ul li:nth-of-type(30){
    top:5%;
    left:55%;
}
ul li:nth-of-type(31){
    top:6%;
    left:70%;
}
ul li:nth-of-type(32){
    top: -5%;
    left: 10%;
}
ul li:nth-of-type(33){
    top:-20%;
    left:20%;
}
ul li:nth-of-type(34){
    top: -38%;
    left:30%;
}
ul li:nth-of-type(35){
    top:-32%;
    left:40%;
}
ul li:nth-of-type(36){
    top:-50%;
    left:50%;
}
ul li:nth-of-type(37){
    top:-68%;
    left:60%;
}
ul li:nth-of-type(38){
    top:-61%;
    left:70%;
}
ul li:nth-of-type(39){
    top:-80%;
    left:80%;
}
ul li:nth-of-type(40){
    top:-82%;
    left:90%;
}
ul li:nth-of-type(41){
    top: -10%;
    left: 90%;
}
ul li:nth-of-type(41){
    top:-31%;
    left:80%;
}
ul li:nth-of-type(43){
    top: -26%;
    left:70%;
}
ul li:nth-of-type(44){
    top:-40%;
    left:60%;
}
ul li:nth-of-type(45){
    top:-71%;
    left:40%;
}
ul li:nth-of-type(46){
    top:-61%;
    left:30%;
}
ul li:nth-of-type(47){
    top:-80%;
    left:20%;
}
ul li:nth-of-type(48){
    top:-81%;
    left:90%;
}
ul li:nth-of-type(49){
    top:-90%;
    left:21%;
}
ul li:nth-of-type(50){
    top:-69%;
    left:20%;
}
ul li:nth-of-type(51){
    top:-62%;
    left:82%;
}
ul li:nth-of-type(52){
    top:-55%;
    left:21%;
}
ul li:nth-of-type(53){
    top:-40%;
    left:89%;
}
ul li:nth-of-type(54){
    top:-31%;
    left:22%;
}
ul li:nth-of-type(55){
    top:-22%;
    left:91%;
}
ul li:nth-of-type(56){
    top:-4%;
    left:21%;
}
ul li:nth-of-type(57){
    top:-48%;
    left:8%;
}
ul li:nth-of-type(58){
    top:-8%;
    left:15%;
}
ul li:nth-of-type(59){
    top:-10%;
    left:32%;
}
ul li:nth-of-type(60){
    top:-7%;
    left:41%;
}
ul li:nth-of-type(61){
    top:-5%;
    left:55%;
}
ul li:nth-of-type(62){
    top:-6%;
    left:70%;
}

.slide2 img{
    position: absolute;
}
.slide2 img:nth-of-type(1){
    width: 1rem;
    height: 1rem;
    left: 0;
    top: 0;
}
.slide2 img:nth-of-type(2){
    width: 1rem;
    height: 1rem;
    left: 1rem;
    top: 0rem;
}

#page1 img{
    opacity:1;
}
#page1 span{
    display: inline-block;
}
#page1 img:nth-of-type(1){
    -webkit-animation: bounceInLeft 1s 0s both;
    animation: bounceInLeft 1s 0s both;
}
#page1 img:nth-of-type(2){
    -webkit-animation: bounceInLeft 1s 0s both;
    animation: bounceInLeft 1s 0s both;
}
#page1 img:nth-of-type(3){
    -webkit-animation: bounceInRight 1s 0.5s both;
    animation: bounceInRight 1s 0.5s both;
}
#page1 img:nth-of-type(4){
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}
#page1 img:nth-of-type(5){
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}
#page1 span{
    -webkit-animation: fadeIn 1s 2s both;
    animation: fadeIn 1s 2s both;
}
@keyframes move {
    100%{ transform:translate(0,8rem)}
}



















